<div class="col-lg-8 col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Activity Feed</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="feed-blog ps-0">
                <li class="active-feed">
                    <div class="feed-user-img">
                        <img src="/static/assets/images/user/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6><span class="badge bg-danger">File</span> Eddie uploaded new files: <small class="text-muted">2 hours ago</small></h6>
                    <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="row">
                        <div class="col-auto text-center">
                            <img src="/static/assets/images/gallery-grid/img-grd-gal-1.jpg" alt="img" class="img-fluid wid-100">
                            <h6 class="m-t-15 m-b-0">Old Scooter</h6>
                            <p class="text-muted m-b-0"><small>PNG-100KB</small></p>
                        </div>
                        <div class="col-auto text-center">
                            <img src="/static/assets/images/gallery-grid/img-grd-gal-2.jpg" alt="img" class="img-fluid wid-100">
                            <h6 class="m-t-15 m-b-0">Wall Art</h6>
                            <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
                        </div>
                        <div class="col-auto text-center">
                            <img src="/static/assets/images/gallery-grid/img-grd-gal-3.jpg" alt="img" class="img-fluid wid-100">
                            <h6 class="m-t-15 m-b-0">Microphone</h6>
                            <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
                        </div>
                    </div>
                </li>
                <li class="diactive-feed">
                    <div class="feed-user-img">
                        <img src="/static/assets/images/user/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6><span class="badge bg-success">Task</span> Sarah marked the Pending Review: <span class="text-c-green"> Trash Can Icon Design</span><small class="text-muted"> 2 hours ago</small></h6>
                </li>
                <li class="diactive-feed">
                    <div class="feed-user-img">
                        <img src="/static/assets/images/user/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6><span class="badge bg-primary">comment</span> abc posted a task: <span class="text-c-green">Design a new Homepage</span> <small class="text-muted">6 hours ago</small></h6>
                    <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </li>
            </ul>
        </div>
    </div>
</div>