<header>
    <div class="container">
        <h1 class="title">10-Project</h1>

        <div class="search-wrapper">
            <form class="search-controller" action="#" method="get">
                <input class="search-keyword" type="search" placeholder="target item" aria-label="Search" name="search1">
                <input class="search-keyword" type="search" placeholder="compare item" aria-label="Search" name="search2">
                <button class="search-click btn-outline-primary btn-outline-secondary" type="submit" >Search</button>
            </form>
        </div>

        <div class="profile">
            <a href="/login/"><img src="/static/images/purple.png" class="img-radius wid-40 profile-image"></a>
        </div>
    </div>
</header>